apiVersion: v1
kind: ServiceAccount
metadata:
  name: git-change-operator
  namespace: git-change-operator-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: git-change-operator-manager-role
rules:
- apiGroups:
  - ""
  resources:
  - events
  verbs:
  - create
  - patch
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - coordination.k8s.io
  resources:
  - leases
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - apps
  resources:
  - deployments
  verbs:
  - get
  - list
  - watch
  - update
  - patch
- apiGroups:
  - ""
  resources:
  - services
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - monitoring.coreos.com
  resources:
  - servicemonitors
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - networking.k8s.io
  resources:
  - ingresses
  verbs:
  - get
  - list
  - watch
  - create
  - update
  - patch
  - delete
- apiGroups:
  - gco.galos.one
  resources:
  - gitcommits
  - pullrequests
  - gitchangeoperators
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - gco.galos.one
  resources:
  - gitcommits/finalizers
  - pullrequests/finalizers
  - gitchangeoperators/finalizers
  verbs:
  - update
- apiGroups:
  - gco.galos.one
  resources:
  - gitcommits/status
  - pullrequests/status
  - gitchangeoperators/status
  verbs:
  - get
  - patch
  - update
# WARNING: Broad read permissions - NOT recommended for production
# Use Helm chart with specific permissions instead
# See: helm/git-change-operator/values.yaml -> rbac.additionalReadPermissions
- apiGroups:
  - "*"
  resources:
  - "*"
  verbs:
  - get
  - list
  - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: git-change-operator-manager-rolebinding
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: git-change-operator-manager-role
subjects:
- kind: ServiceAccount
  name: git-change-operator
  namespace: git-change-operator-system